[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=wojtryb_krita_helpers
X-Python-2-Compatible=false
Name=Wojtryb Krita Helpers
Comment=Collection of krita scripts used by wojtryb
